div#create-bg {
    background: radial-gradient(circle at center, rgb(var(--bs-dark-rgb)), transparent);
    margin-left: 15%;
    margin-right: 15%;
  }

  div.task-count#taskCount {
    margin: 3em;
  }